.info{
  &__wrapper{
    width: 100%;
    height: 100%;
   & h3{

   }

   & ul{
    padding: 1rem 0;
   }

   & li{
    padding: 1rem; 
   }

   & span{
     font-size: 1.4rem;
     color: #bbb;
   }
  }
  
}

.loader{
  font-size: 6px;
  &__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
  }
}