.profile__wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.item {
  &_wrapper {
    display: flex;
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    margin: 1rem 0;

  }

  &__details {
    margin-left: 1rem;

    & span{
      font-size: 1.4rem; 
      color: #bbb;
    }
  }
}

.bread{
  padding: 1rem 0; 

  & a{
    color: #bbb; 
    font-size: 1.4rem;
    transition: color .2s;
    &:hover{
      color: blue
    }
  }
}

.content{
  padding: 2rem; 
  min-width: 32rem;
  width: 50%;
}

.info{
  width: 32rem;
  padding: 2rem; 
  border-left: 1px solid #ccc;
}