.move {
  &_list {
    max-height: 15rem;
    min-height: 5rem;
    overflow: auto;
  }

  &_item {
    border: none;
    outline: none;
    background: #fff;
    display: block;
    padding: .5rem;
    cursor: pointer;
  }

  &_select {
    background: #2980b9;
    color: #fff;
  }
}

.cancel {
  border: none;
  background: #fdcb6e;
  color: #fff;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover{
    background: #f9ca24;
  }
}