.move {
  &_list {
    max-height: 15rem;
    min-height: 5rem;
    overflow: auto;
  }

  &_item {
    border: none;
    outline: none;
    background: #fff;
    display: block;
    padding: .5rem;
    cursor: pointer;
  }

  &_select {
    background: #2980b9;
    color: #fff;
  }
}

.delete {

  &__btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & button {
      width: 48%;
      margin: 0;
    }
  }

  &__profile{
    padding: 2rem 0;
  }

  &__item_wrapper{
    padding: 2rem 0;
    & span {
      color: #2980b9; 
      font-weight: 600;
      text-decoration: underline;
    }
  }

  &__checkbox_wrapper {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    & label {
      margin-left: 1rem;
      cursor: pointer;
    }
  }
}

.cancel {
  border: none;
  background: #f7d794;
  color: #fff;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background: #f5cd79;
  }
}