.wrapper{
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.list{
  width: 50%;
}

.input{
  outline: none;
  height: 2.8rem;
  width: 26rem;
  padding: 0 1rem; 
  font-size: 1.6rem;
  border-radius: 3px 0 0 3px;
  border: 1px solid #ccc;
}

.item{
  &:not(:last-child){
    border-bottom: 1px solid #ccc;
  }
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
  & h3{
    color: #0097e6;

    &:hover{
      text-decoration: underline;
    }
  }

  &_category{
    color: #bbb;
    font-size: 1.4rem;  
  }

  &_highlight{
    font-weight: bold;
  }
}

